<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Team</th>
      <th>event 1</th>
      <th>event 2</th>
      <th>event 3</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Get a grip</td>
      <td>10</td>
      <td>8</td>
      <td>5</td>
      <td>23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Chalking rubbish</td>
      <td>2</td>
      <td>13</td>
      <td>8</td>
      <td>23</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Taking the lift</td>
      <td>5</td>
      <td>11</td>
      <td>2</td>
      <td>18</td>
    </tr>
  </tbody>
</table>