<!DOCTYPE html>
<html>
    <body>
        <h1 style="color: green;">
            Workout 1 
        </h1>
        <h2>
            The first workout is: <br>
        </h2>
        <b style="color: crimson;">
            for time <br>
        </b>
        <i style="background-color: rgb(207, 191, 223)">
            21 - 15 - 9 <br>
        </i> 
        <p>
            Clean and Jerks (60/45) <br>
            Burpees over the bar 
        </p>
        <a href="http://0.0.0.0:5000">Home</a>
    </body>
</html>