<!DOCTYPE html>
<html>
    <body>
        <h1 style="color: green;">
            Workout 2 
        </h1>
        <h2>
            The second workout is: <br>
        </h2>
        <b style="color: crimson;">
            EMOM <br>
        </b>
        <i style="background-color: rgb(207, 191, 223)">
            Snatch Ladder <br>
        </i> 
        <p>
            Start at 60/45 and go up each minute <br>
            Weights are: <br>
            1. 60/45 <br>
            2. 70/55 <br>
            3. 80/65 <br>
            4. 90/70 <br>
            5. 100/85 <br>
            6. 110/90 <br>
            7. 120/95 <br>
            8. 130/100 <br>
            <br>
            Keep going up in 5kg until no one is left
        </p>
        <a href="http://0.0.0.0:5000"><button type="button"> Home </button></a>
        <br>
    </body>
</html>