<!DOCTYPE html>
<html>
    <body>
        <h1 style="color: green;">
            Workout 3
        </h1>
        <h2>
            The first workout is: <br>
        </h2>
        <b style="color: crimson;">
            for time <br>
        </b>
        <i style="background-color: rgb(207, 191, 223)">
            SPRINT for time <br>
        </i> 
        <p>
            30 cal echo bike for time <br>
            REST 2 mins <br>
            20 BBJO for time <br>
            REST 2 mins <br>
            10 power cleans (100/80)
        </p>
        <a href="http://0.0.0.0:5000"><button type="button"> Home </button></a>
    </body>
    <br>
</html>